.Button {
  width: 100%;
  padding: 12px 6px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  background-color: var(--color-bg-blue);
  color: var(--text-invert-color);
  font-size: 13px;
  font-weight: 500;
  line-height: 13px;
  text-align: center;
  transition: 0.3s opacity;

  &:hover {
    opacity: 0.8;
  }

  &[disabled] {
    opacity: 0.8;
    cursor: default;
  }
}
